
.box-one{
    height: 400px;
    width: 350px;
    border: 2px solid gray;
}
.box-two{
    height: 400px;
    width: 350px;
    border: 2px solid gray;
    display: flex;
}
.box-three{
    height: 400px;
    width: 350px;
    border: 2px solid gray;
    margin: 0px -130px;
}
.box-four{
    height: 400px;
    width: 350px;
    border: 2px solid gray;
}